.header-logo-box {
    background-color: #ffffff;
}

/* REPARIERT: Standard-Links in FHDW-Blau */
a {
    color: #21376a;
}
.btn-link {
    color: #21376a;
}
/* REPARIERT: Hover-Effekt in Orange */
.btn-link:hover, .btn-link:focus {
    color: #f39200;
}

h1, h2, h3, h4, h5, h6 {
    color: #21376a;
}

/* REPARIERT: Text auf orangem Hintergrund muss Weiß sein */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #f39200;
    color: #ffffff;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #f39200;
    color: #ffffff;
}

/*Navbar settings*/
/*Normal*/
.navbar,
.navbar-default .navbar-nav > li > a {
    background-color: #21376a;
    color: #ffffff;
}
/*ACTIVE*/
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
    background-color: #f39200;
    color: #21376a;
}
/*HOVER*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #7aa7d9;
    color: #ffffff;
}
/*Border color*/
.navbar-default {
    border-color: #21376a;
}
/*No round corners*/
#top-navigation {
    border-radius: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

.panel-default > .panel-heading {
    border-color: #21376a !important;
    color: #666;
    font-size: 13px;
    font-weight: 700;
}

#leftSideBar > h1 {
    border-bottom-color: #21376a !important;
}

/* REPARIERT: Textfarbe Weiß hinzugefügt */
.simo-media-hover .media-body.selected-mail, .simo-media-hover .media-left.selected-mail {
    background-color: #f39200 !important;
    border-color: #f39200 !important;
    color: #ffffff !important;
}

/* REPARIERT: Textfarbe Weiß hinzugefügt */
.simo-new-mail-button {
    background-color: #f39200 !important;
    border-color: #f39200 !important;
    color: #ffffff !important;
}